<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="ISO-8859-1">
<title>### ...Cadastro de Cervejas... ###</title>
</head>
<body>
	<h1>Olá ThymeLif configurado</h1>



	<form method="POST">
		<span th:text="${message}"></span>
	
		<label for="sku">SKU</label><br> <input type="text" id="sku"
			name="sku"> <br> <label for="nome">Nome</label><br>
		<input type="text" id="nome" name="Nome"> <br> <input
			type="submit" value="Salvar">
	</form>
</body>
</html>